.BookItem {
    margin: 5px;
    display: inline-block;
    width: 10%;
    text-align: center;
}
.BookItem-title{
    font-size: 1.2em;
}
.BookItem-image-container{
    margin: 5px 10px;
}
.BookItem-image-container img{
    width: 100%;
}
.BookItem-button{
    background-color: #ef3f32 !important;
}
.BookItem-button .BookItem-icon{
    float: left;
    color: white !important;
    padding-top: 5px;
    padding-left: 5px;
}
