.ContactForm .ContactForm-input{
    display: block !important;
}
.ContactForm .ContactForm-input div{
    bottom: 18px !important;
}
.ContactForm textarea.ContactForm-input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}
.ContactForm-content{
    margin: 0 15px;
}
.ContactForm-actions{
    text-align: right;
}